.proyects{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__selectors{
        display:flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-top:12px;
    }
    &__selector{
        font-Size:14px;
        cursor: pointer;
    }
}
.proyect{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__imgs{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }
    &__container{
        width: 100%;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        @media (min-width:400px){
            width: 50%;
        }
    }
    &__img{
        width: 100%;
        height: 300px;
    }
}