<div class="proyects">
    <section class="proyects__selectors">
        <h4 class="proyects__selector" (click)="showProyect('guru')">Shishas Gurú</h4>
        <h4 class="proyects__selector" (click)="showProyect('bombeito')">Rosales y Molina</h4>
    </section>
    <section class="proyect">
        <div class="proyect__imgs">
            <div class="proyect__container" *ngFor="let item of proyectView?.imgs">
                <img src="{{item.src}}" alt="{{item.alt}}" class="proyect__img">
            </div>
        </div>
        <div class="proyect__description">
            <ul class="proyect__list">
                <li class="proyect__list-item" *ngFor="let item of proyectView?.description">
                    {{item}}
                </li>
            </ul>
        </div>
    </section>
</div>