<footer class="footer">
    <p class="footer__text">{{footer?.copyright}}</p>
    <div class="footer__rrss">
        <div class="footer__container-img" *ngFor="let item of footer?.rrss">
            <img src="{{item.img.src}}" alt="{{item.img.alt}}" class="footer__img">
        </div>
    </div>
</footer>