.footer{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color:black;
    color:white;
    padding: 8px 0;
    &__text{
        font-size: 12px;
        width:60%;
    }   
    &__rrss{
        width:40%;
        display: flex;
        justify-content: space-evenly;
    } 
    &__container-img{
        width:30%;
        display: flex;
        align-items: center;
    }
    &__img{
        width:50%;
        background-color: white;
        border-radius: 5px;
        cursor: pointer;
        @media (min-width: 500px){
            width: 35px;
        }
    }
}