<main class="home">
    <h2 class="home__heading">
        {{home?.title}}
    </h2>
    <section class="home__proyects">
        <article class="home__proyect" *ngFor="let item of home?.proyectGallery">
            <h4 class="home__proyect-title">{{item.proyectTitle}}</h4>
            <div class="home__proyect-container">
                <img src="{{item.img.src}}" alt="{{item.img.alt}}" class="home__proyect-img">
            </div>
        </article>
    </section>
    <section class="home__tecs">
        <h4 class="home__tec-title">{{home?.tec?.title}}</h4>
        <article class="home__tec" >
            <div class="home__tec-container" *ngFor="let item of home?.tec?.imgs">
                <img src="{{item.src}}" alt="{{item.alt}}" class="home__tec-img">
            </div>
        </article>
    </section>
</main>