.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__heading {
    font-size: 20px;
    background-color: black;
    color: ivory;
    display: inline-block;
    padding: 20px;
    border-radius: 50px;
    margin-top: 16px;
    text-transform: uppercase;
  }
  &__proyects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  &__proyect {
    width: 100%;
    text-align: center;
    margin: 16px 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    @media (min-width: 700px) {
      width: 45%;
    }
    &-title {
      background-color: lightgray;
      display: inline-block;
      padding: 12px;
      border-radius: 30px;
    }
    &-container {
      width: 100%;
    }
    &-img {
      width: 100%;
      height: 200px;
    }
  }
  &__tecs {
    width: 100%;
    margin-bottom: 16px;
  }
  &__tec-title {
    background-color: lightgray;
    display: inline-block;
    padding: 12px;
    border-radius: 30px;
  }
  &__tec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &-container{
        width: 50px;
    }
    &-img{
        width: 100%;
    }
  }
}
