<div class="header">
    <div class="header__img-container">
        <img src="{{header?.logo?.src}}" alt="{{header?.logo?.alt}}" class="header__img"
        (click)="showNav()">
    </div>
    <nav class="header__navbar" id="navbar">
        <a *ngFor="let link of header?.navbar" 
        [routerLink]="link.navigate" 
        class="header__link"
        (click)="closeNav()">
            {{link.name}}
        </a>
    </nav>
</div>