@import '../../../styles/imports';
.header{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    color: white;
    @media (min-width: 500px){
        flex-direction: row;
        justify-content: space-between;
    }
    &__img-container{
        width: 100%;
        display: flex;
        align-items: center;
        @media (min-width: 500px){
            width:25%;
        }
    }
    &__navbar{
        display: none;
        flex-direction: column;
        align-items: center;
        @media (min-width: 500px){
            display: flex !important;
            width: 75%;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__link{
        color: white;
        text-decoration: none;
    }
    &__img{
        width: 100%;
        background-color: black;
        cursor: pointer;
    }
}